.navbar {
    background: var(--navbar-bg);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 10000;
}

[data-theme='dark'] .navbar {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid var(--border-color);
}

.navbar-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 16px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo {
    font-size: 24px;
    font-weight: 700;
    color: var(--primary);
    text-decoration: none;
}

.navbar-menu {
    display: flex;
    gap: 12px;
    align-items: center;
}

.navbar-link {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 16px;
    border-radius: 8px;
    color: var(--gray-700);
    text-decoration: none;
    font-weight: 500;
    transition: all 0.2s;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.navbar-link:hover {
    background: var(--bg-hover);
    color: var(--primary);
}

.navbar-logout {
    color: var(--danger);
}

.navbar-logout:hover {
    background: var(--logout-hover);
    color: var(--logout-link-hover);
}

@media (max-width: 768px) {
.navbar-link span {
    display: none;
}

.navbar-logo{
    font-size: 8px;
}
}

.navbar-paypal {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #ffc439;
    color: #003087 !important;
    padding: 8px 16px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    border: none;
    cursor: pointer;
    transition: transform 0.2s;
}

.navbar-paypal:hover {
    transform: scale(1.05);
    background-color: #f2ba36;
    text-decoration: none;
}